/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/app/private/uploads/*
/storage/app/private/books/*
/storage/app/private/instruments/*
/storage/app/private/covers/*
/storage/app/private/thumbnails/*
!/storage/app/private/uploads/.gitkeep
!/storage/app/private/books/.gitkeep
!/storage/app/private/instruments/.gitkeep
!/storage/app/private/covers/.gitkeep
!/storage/app/private/thumbnails/.gitkeep
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/.claude
